<h1>Ranking</h1>

<br>

  <% x= 1 %>
  <% @allUsers.each do |user| %>
  <div class="row ranking_row">
    <div class="col">
      <div class='ranking_number'><%= x %>

      <%= link_to user do %>
        <%= image_tag(user.avatar.url(:thumb), class:'nav_avatar')%>
        <%= user.vorname %>
      <% end %>
      </div>
    </div>

    <div class="col">
      <span class='ranking_main'><%= user.score %></span><br>
      <p class='ranking_sub'>SCORE</p>
    </div>

    <div class="col">
      <% all_matches = user.lost_matches + user.won_matches %>
      <span class='ranking_main'><%= all_matches %></span><br>
        <p class='ranking_sub'>SPIELE</p>
    </div>

    <div class="col">
        <%if all_matches > 0 %>
          <span class='ranking_main'><%= ((user.won_matches*1.0/all_matches)*100).round%>
          % </span><br>
            <p class='ranking_sub'>QUOTE</p>
        <% else %>
        <span class='ranking_main'>  0</span>
        <p class='ranking_sub'>QUOTE</p>
        <% end %>
    </div>
    </div>

  <% x+=1 %>
  <% end %>
<br>
