<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label 'Spiel' %>
    <%= form.select :game, options_for_select([['Romme'], ['Mau Mau']]), {},  {class: 'form-control'}%>
  </div>

  <div class="form-group">
    <%= form.hidden_field :player1, :value => @user.id %>
  </div>

  <div class="form-group">
    <%= form.label 'Dein Gegner' %>
    <%= form.select :player2, options_for_select(@allUsers.collect {|p| [p.vorname, p.id]}), {},  {class: 'form-control'} %>
  </div>

  <div class="row">

     <div class="col">
      <div class="form-group">
        <%= form.label 'Deine Punktzahl' %>
        <%= form.number_field :scoreplayer1, class:'form-control' %>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <%= form.label 'Gegnerische Punkte'%>
        <%= form.number_field :scoreplayer2, class:'form-control' %>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= form.submit%>
  </div>

<% end %>
