<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game %>
    <%= form.text_field :game %>
  </div>

  <div class="field">
    <%= form.label :player1 %>
    <%= form.text_field :player1 %>
  </div>

  <div class="field">
    <%= form.label :player2 %>
    <%= form.text_field :player2 %>
  </div>

  <div class="field">
    <%= form.label :scoreplayer1 %>
    <%= form.text_field :scoreplayer1 %>
  </div>

  <div class="field">
    <%= form.label :scoreplayer2 %>
    <%= form.text_field :scoreplayer2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
