<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label 'Spiel' %>
    <%= form.select :game, options_for_select([['Romme'], ['Mau Mau']])%>
  </div>

  <div class="field">
    <%= form.hidden_field :player1, :value => @user.id %>
  </div>

  <div class="field">
    <%= form.label 'Dein Gegner' %>
    <%= form.select :player2, options_for_select(@allUsers.collect {|p| [p.vorname, p.id]}) %>
  </div>

  <div class="field">
    <%= form.label 'Deine Punktzahl' %>
    <%= form.text_field :scoreplayer1 %>
  </div>

  <div class="field">
    <%= form.label 'Gegnerische Punkte'%>
    <%= form.text_field :scoreplayer2 %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
