<h1>Spiele</h1>

<% @matches_days.each do |day| %>
  <div class="date">
    <%= day[0].strftime("%d. %b %Y") %>
  </div>

    <% @matches.each do |match| %>
    <% if match.created_at.strftime("%d. %b %Y") == day[0].strftime("%d. %b %Y") %>
      <div class='card'>
        <div class='card-body'>
          <% player1 = User.find(match.player1) %>
          <% player2 = User.find(match.player2) %>
        <h5>

          <%= link_to player1 do %>
            <div class="avatar left">
              <%= image_tag(player1.avatar.url(:thumb))%>
            </div>
          <% end %>
          <%= link_to player2 do %>
            <div class="avatar right">
              <%= image_tag(player2.avatar.url(:thumb))%>
            </div>
          <% end %>
          <div class='rivals'>
          <%= link_to "#{player1.vorname} vs. #{player2.vorname}", match, class:'card-title' %>
          </div>
        </h5>
        <h6 class='card-subtitle text-muted'>
            <%= match.game %>
        </h6>
        <div class='result'>
          <%= match.scoreplayer1 %>
          :
          <%= match.scoreplayer2 %>
        </div>
        <br>
        <div class='timestamp'>
          <%= date_format(match.created_at) %>
        </div>

        </div>
      </div>

      <% end %>
    <% end %>

<% end %>

<br>
<br>
