<h1>Spiele</h1>



    <% @matches.each do |match| %>
      <div class='card'>
        <div class='card-body'>
          <% player1 = User.find(match.player1) %>
          <% player2 = User.find(match.player2) %>
        <h5>
          <%= link_to "#{player1.vorname} vs. #{player2.vorname}", match, class:'card-title' %>
        </h5>
        <h6 class='card-subtitle text-muted'>
            <%= match.game %>
            <br>
            <%= date_format(match.created_at) %>
        </h6>
        <div class='card-text'>
        <%= match.scoreplayer1 %>
        <%= match.scoreplayer2 %>
        </div>
        <br>
        <% if match.user == current_user %>
          <%= link_to 'Edit', edit_match_path(match), class:'card-link' %>
          <%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }, class:'card-link' %>
        <% end %>
        </div>
      </div>
    <% end %>



<br>
<br>

<%= link_to 'New Match', new_match_path %>
